<?xml version="1.0" encoding="UTF-8"?>
<included>
	<!-- 
		<springProfile name="prod"> <property name="LOG_FILE" value="${LOG_PATH}/spring.log" 
		/> </springProfile> 
		
		<springProfile name="dev"> <property name="LOG_FILE" 
		value="${LOG_PATH}/spring-test.log" /> </springProfile> 
	-->
	<appender name="SPRING_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

			<fileNamePattern>
				${LOG_FILE}.%d{yyyy-MM-dd-HH-mm}.%i.gz
			</fileNamePattern>

			<!-- keep 30 days' worth of history capped at 2GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>2GB</totalSizeCap>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>

		</rollingPolicy>
	</appender>
</included>